body {
  margin: 5px;
}

p {
  margin: 0px;
}

label, input {
  margin: 10px 5px;
}


.myframe {
  background-color: #000000;
  border: solid 30px #e5cc5f;
  border-radius: 30px;
  text-align: center;
  font-family: Verdana, sans-serif;
  font-size: 20px;
  color: blanchedalmond;
  min-width: 16rem;
  min-height: 80vh;
  max-width: 90rem;
}

.input-div {
  margin: 5%;
}

.decor-inputs {
  border: solid 1px #ffffff;
  background-color: #5d5d5d;
  color: blanchedalmond;
  text-align: center;
}

#output {
  font-size: 20px;
  border: 1px solid;
  margin: 10px auto;
  width: 60vw;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  max-width: 600px;
}

@media screen and (max-width: 450px) {
  h1 {
    font-size: 2rem;
  }

  label {
    font-size: 1.2rem;
  }
}